body{
    margin: 0;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 20px;
}
.logo{
    font-weight: bolder;   
    margin-left: 100px;
    cursor: pointer;
    
}
.logo:hover{
    color: rgb(6, 146, 146);
}
nav p{
    margin-right: 50px;
}
.content{
    display: flex;
    gap: 10px;
}
.text h1{
    font-size: 60px;
}
.text{
    margin-left: 100px;
    width: 50%;
    margin-top: 50px;
}
.text button{
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}
.image img{
    height: 600px;
    mix-blend-mode: multiply;
}
.apility{
    display: flex;
    align-items: center;

}
.one{
    text-align: center;
    padding: 10px 10px;
    height: 200px;
}
.about{
    text-align: center;  
    height: 500px;
}
.about img{
    width: 200px ;
}
.about h4{
    text-align: center;
}
.para{
   margin-left: 300px;
   text-align: center;
}
.about button{
    width: 200px;
    height: 30px;
    padding: 10 10px;
    letter-spacing: 5px;
    font-weight: bolder;
    background-color: white;
}
.layout{
    display: flex;
    height: 500px;

}
.img img{
  height: 500px;
  width: 650px;
}
.col-2{
    background-color: rgb(6, 158, 158);
    width: 60%;
    display: grid;
    place-items: center;
   
}
.inside{
    width: 500px;
    margin-top: 60px;
}
.inside button{
    width: 200px;
    height: 40px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: none;
    color: rgb(6, 153, 153);
    font-weight: bolder;
    background-color: white;

}
.services{
    text-align: center;
    margin-top: 50px;
}
.items{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 10px;
    column-gap: 10px;
    
}
.one{
    text-align: center;
    padding: 10px;
    
}

.one img{
    width: 70px;
    
}
.one h5{
    color: black;
}
.services button{
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: 1px solid rgb(5, 141, 141);
    background-color: white;
    margin-top: 50px;
}

.layout1{
    display: flex;
    height: 500px;
    margin-top: 50px;

}
.img img{
  height: 500px;
  width: 650px;
}
.col-1{
    background-color: rgba(161, 155, 155,0.3);
    width: 60%;
    display: grid;
    place-items: center;
   
}
.inside1{
    width: 500px;
    margin-top: 60px;
}
.inside1 button{
    width: 200px;
    height: 40px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: none;
   color: white;
    font-weight: bolder;
    background-color: rgb(6, 155, 155);

}
.know{
    display: flex;
    align-items: center;
    background-color: rgb(6, 145, 145);
}
.text1{
    width: 70%;
    margin-left: 100px;
}
.text1 h2,h5{
     color: white;
}

.know button{
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: rgb(5, 121, 121);
}
footer{
    text-align: center;
    margin-top: 50px;
}

.view{
    display: grid;
    place-items: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

.view button{
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    letter-spacing: 5px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}
.bl{
    background-color: black;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.bl img{
    width: 300px;
    height: 100px;
}
.copyright{
    text-align: center;
}
